body {
    font-weight: lighter;
    font-family: "Karla";
    background: #fff;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: 200;
}

h3 {
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px #555;
    font-family: "Karla";
}

.row {
    max-width: 100%;
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition: opacity 2s ease-in-out .2s;
}

.hero-content.appear {
    opacity: .9;
}

.hero-logo {
    padding-left: 40px;
    padding-top: 40px;
}

.hero-content-body {
    color: #fff;
    margin-left: 20px;
    margin-top: 150px;
}

.social-links a {
    color: #fff;
    font-size: 2rem;
    text-shadow: 1px 1px 5px #555;
    margin-right: 1rem;
}

.social-links a:hover {
    color: #82DECF;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto !important;
}

.video-container video.fillWidth {
    width: 100%;
}

.video-hidden {
    display: none;
}

@media screen and (min-width: 650px) {
    h2 {
        font-size: 5rem;
    }

    .hero-content-body {
        margin-top: 150px;
        margin-left: 100px;
    }
}